*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;    
    
}
body{
    background-color: antiquewhite;
    color: #6A66A3;
}

.content{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  ::-webkit-scrollbar{
    background-color: #542E71;
  }
  ::-webkit-scrollbar-button{
    display: none;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #6A66A3;
  }