*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;    
    
}
body{
    background-color: antiquewhite;
    color: #6A66A3;
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6A66A3;
    z-index: 999;
  }
  
  .logo {
    width: 98px;
    padding: 10px;
  }
  
  nav {
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-left: 20px;
  }
  
  a {
    display: block;
    padding: 10px;
    color: antiquewhite;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #542e71;
    border-radius: 25%;
    transition: 1s;
  }
  ::-webkit-scrollbar{
    background-color: #542E71;
  }
  ::-webkit-scrollbar-button{
    display: none;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #6A66A3;
  }